@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

fieldset {
  border: none; }

#header {
  width: 100%;
  border-bottom: 1px solid #efefef;
  position: relative;
  z-index: 5; }
  #header .inner {
    width: 1180px;
    height: 135px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%); }
      #header .inner > h1 a {
        font: 26px/1 "Noto Sans", "Noto Sans KR";
        color: #111; }
    #header .inner .btnCall {
      width: 20px;
      height: 18px;
      position: absolute;
      top: 32px;
      left: 0;
      transition: 0.5s; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: #555;
        transition: 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #555;
        transition: 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #555;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall.on {
        z-index: 11; }
        #header .inner .btnCall.on::before {
          background: #999;
          transform: rotate(45deg);
          top: 50%;
          margin-top: -1px; }
        #header .inner .btnCall.on::after {
          transform: rotate(-45deg);
          bottom: 50%;
          margin-bottom: -1px;
          background: #999; }
        #header .inner .btnCall.on span {
          background: #999;
          transform: translateX(100%);
          opacity: 0; }
    #header .inner .util {
      position: absolute;
      top: 31px;
      left: 31px; }
      #header .inner .util a {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px; }
        #header .inner .util a img {
          width: 100%;
          height: 100%; }
    #header .inner .menuWeb {
      width: 100%; }
      #header .inner .menuWeb #gnb {
        width: 100%;
        font-size: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ddd; }
        #header .inner .menuWeb #gnb::after {
          content: '';
          display: block;
          clear: both; }
        #header .inner .menuWeb #gnb > li {
          width: 20%;
          height: 60px;
          float: left;
          font-size: 0;
          transition: 0.5s; }
          #header .inner .menuWeb #gnb > li > a {
            display: block;
            width: 100%;
            height: 100%;
            font: 14px/60px "Noto Sans", "Noto Sans KR";
            color: #555;
            text-align: center;
            transition: 0.5s; }
            #header .inner .menuWeb #gnb > li > a:hover {
              color: #000; }
          #header .inner .menuWeb #gnb > li .gnb_2depth {
            width: 1180px;
            height: 220px;
            padding-top: 20px;
            position: absolute;
            top: 60px;
            right: 0;
            font-size: 0;
            background: #fff;
            display: none; }
            #header .inner .menuWeb #gnb > li .gnb_2depth::before {
              content: '';
              display: block;
              width: 100%;
              height: inherit;
              background: #fff;
              position: absolute;
              top: 0;
              left: -100%; }
            #header .inner .menuWeb #gnb > li .gnb_2depth::after {
              content: '';
              display: block;
              width: 100%;
              height: inherit;
              background: #fff;
              position: absolute;
              top: 0;
              right: -100%; }
            #header .inner .menuWeb #gnb > li .gnb_2depth > .dpe1 {
              width: 180px;
              text-align: center;
              float: left;
              font-size: 0; }
              #header .inner .menuWeb #gnb > li .gnb_2depth > .dpe1 > li {
                width: 100%;
                padding: 0 0 15px 0; }
                #header .inner .menuWeb #gnb > li .gnb_2depth > .dpe1 > li a {
                  font: 14px/1 "Noto Sans", "Noto Sans KR";
                  color: #333; }
            #header .inner .menuWeb #gnb > li .gnb_2depth > .dep2 {
              width: 180px;
              float: left; }
              #header .inner .menuWeb #gnb > li .gnb_2depth > .dep2 > li {
                width: 100%;
                padding: 0 0 15px 40px;
                border-left: 1px solid #ddd; }
                #header .inner .menuWeb #gnb > li .gnb_2depth > .dep2 > li strong {
                  font: 700 14px/1 "Noto Sans", "Noto Sans KR";
                  color: #333; }
                #header .inner .menuWeb #gnb > li .gnb_2depth > .dep2 > li a {
                  font: 13px/1 "Noto Sans", "Noto Sans KR";
                  color: #333; }
            #header .inner .menuWeb #gnb > li .gnb_2depth > .dep3 {
              width: 250px;
              float: left; }
              #header .inner .menuWeb #gnb > li .gnb_2depth > .dep3 > li {
                width: 100%;
                padding: 0 0 15px 40px; }
                #header .inner .menuWeb #gnb > li .gnb_2depth > .dep3 > li strong {
                  font: 700 14px/1 "Noto Sans", "Noto Sans KR";
                  color: #333; }
                #header .inner .menuWeb #gnb > li .gnb_2depth > .dep3 > li a {
                  font: 13px/1 "Noto Sans", "Noto Sans KR";
                  color: #333; }
            #header .inner .menuWeb #gnb > li .gnb_2depth .pic {
              width: 500px;
              float: left; }
              #header .inner .menuWeb #gnb > li .gnb_2depth .pic img {
                width: 100%;
                height: 150px;
                object-fit: cover; }
    #header .inner .user {
      position: absolute;
      right: 0;
      top: 35px; }
      #header .inner .user a {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 5px; }
        #header .inner .user a img {
          width: 100%;
          height: 100%; }
    #header .inner .menuMo {
      width: 100%;
      height: 100vh;
      padding: 100px 0;
      background: #111;
      position: fixed;
      top: -100%;
      left: 0;
      z-index: 10;
      opacity: 0;
      transition: 0.5s;
      margin: 0 auto;
      text-align: center; }
      #header .inner .menuMo > h1 {
        padding-bottom: 20px; }
        #header .inner .menuMo > h1 a {
          display: block;
          font: 40px/1 "Noto Sans", "Noto Sans KR";
          color: #fff; }
        #header .inner .menuMo > h1 span {
          font: 14px/1 "Noto Sans", "Noto Sans KR";
          color: #7588a0;
          letter-spacing: 1px; }
      #header .inner .menuMo #gnbMo {
        width: 100%;
        height: 100%; }
        #header .inner .menuMo #gnbMo > li {
          width: 100%; }
          #header .inner .menuMo #gnbMo > li a {
            display: block;
            width: 100%;
            padding: 20px 0;
            font: bold 46px/1 "Noto Sans", "Noto Sans KR";
            color: #fff;
            transition: 0.5s; }
            #header .inner .menuMo #gnbMo > li a:hover {
              color: #7588a0; }
      #header .inner .menuMo.on {
        top: 0;
        opacity: 1; }

#visual {
  width: 100%;
  height: calc(100vh - 136px);
  background: #efefef;
  position: relative; }
  #visual .inner {
    width: 100%;
    height: 100%;
    position: relative; }
    #visual .inner .mySwiper {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative;
      z-index: 1; }
      #visual .inner .mySwiper::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .mySwiper .swiper-wrapper .swiper-slide article {
        float: left; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide article:first-child {
          width: 43%;
          margin-right: 2%; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide article:last-child {
          width: 55%; }
      #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainTxt {
        padding: 250px 0px 0 50px; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainTxt h1 {
          font: 700 54px/1 "Noto Sans", "Noto Sans KR";
          color: #333;
          margin-bottom: 20px;
          letter-spacing: 1px; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainTxt .box1 {
          display: inline-block;
          width: 100px;
          height: 30px;
          margin-right: 10px;
          background: #ddd;
          text-align: center;
          font: 13px/30px "Noto Sans", "Noto Sans KR";
          color: #555; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainTxt .box2 {
          display: inline-block;
          width: 150px;
          height: 30px;
          background: #ddd;
          text-align: center;
          font: 13px/30px "Noto Sans", "Noto Sans KR";
          color: #555; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainTxt p {
          width: 80%;
          margin-top: 20px;
          font: 15px/2 "Noto Sans", "Noto Sans KR";
          color: #555; }
      #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainVisual {
        padding-top: 60px; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainVisual h2 {
          display: inline-block;
          margin-right: 20px;
          font: 700 18px/1 "Noto Sans", "Noto Sans KR";
          color: #333; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainVisual p {
          display: inline-block;
          font: 13px/1.2 "Noto Sans", "Noto Sans KR";
          color: #999; }
        #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainVisual .pic {
          width: 90%;
          height: 620px;
          margin-top: 50px; }
          #visual .inner .mySwiper .swiper-wrapper .swiper-slide .mainVisual .pic img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
      #visual .inner .mySwiper .swiper-button-next {
        left: 440px;
        right: auto;
        top: 85%;
        bottom: auto;
        transform: scale(0.4);
        filter: grayscale(100%); }
      #visual .inner .mySwiper .swiper-button-prev {
        left: 390px;
        right: auto;
        top: 85%;
        bottom: auto;
        transform: scale(0.4);
        filter: grayscale(100%); }
      #visual .inner .mySwiper .swiper-pagination-progressbar {
        width: 35%;
        left: -10px;
        right: auto;
        top: 85%;
        bottom: auto;
        transform: scale(0.7);
        filter: brightness(0); }

#brand {
  width: 100%;
  padding: 150px 0;
  background: #7588a0; }
  #brand .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #brand .inner h1 {
      font: 16px/1 "Noto Sans", "Noto Sans KR";
      color: #fff;
      letter-spacing: 2px;
      position: relative;
      padding-bottom: 30px;
      margin-bottom: 40px;
      transform: translateX(-20px);
      transition: 0.5s;
      opacity: 0; }
      #brand .inner h1::after {
        content: '';
        display: block;
        width: 0px;
        height: 1px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s;
        opacity: 0; }
    #brand .inner .wrap {
      width: 100%;
      position: relative; }
      #brand .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #brand .inner .wrap article {
        width: 580px;
        margin-right: 20px;
        float: left;
        position: relative; }
        #brand .inner .wrap article:last-child {
          margin-right: 0; }
        #brand .inner .wrap article h2 {
          font: 42px/1.4 "Noto Sans", "Noto Sans KR";
          color: #fff;
          margin-bottom: 30px;
          transition: 0.5s 0.4s;
          opacity: 0;
          transform: translateY(50px); }
        #brand .inner .wrap article p {
          font: 16px/2 "Noto Sans", "Noto Sans KR";
          color: #ddd;
          margin-bottom: 40px;
          transition: 0.5s 0.6s;
          transform: translateY(50px);
          opacity: 0; }
        #brand .inner .wrap article a {
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 70px;
          font: 14px/1 "Noto Sans", "Noto Sans KR";
          color: #ddd;
          text-align: right;
          letter-spacing: 2px;
          border-bottom: 1px solid #ddd;
          transition: 0.5s 0.6s;
          opacity: 0; }
        #brand .inner .wrap article div {
          width: 49%;
          margin-right: 2%;
          float: left; }
          #brand .inner .wrap article div img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
          #brand .inner .wrap article div:first-child {
            opacity: 0;
            transform: translateY(-50px);
            transition: 0.5s 0.2s; }
          #brand .inner .wrap article div:last-child {
            margin-right: 0;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.5s 0.2s; }
  #brand.on .inner h1 {
    transform: translateX(0px);
    opacity: 1; }
    #brand.on .inner h1::after {
      width: 80px;
      opacity: 1; }
  #brand.on .inner .wrap article h2 {
    opacity: 1;
    transform: translateY(0); }
  #brand.on .inner .wrap article p {
    opacity: 1;
    transform: translateY(0); }
  #brand.on .inner .wrap article a {
    opacity: 1; }
  #brand.on .inner .wrap article div:first-child {
    opacity: 1;
    transform: translateY(0); }
  #brand.on .inner .wrap article div:last-child {
    opacity: 1;
    transform: translateY(0); }

@media screen and (max-width: 1179px) {
  /*header----------------------------------*/
  #header .inner {
    width: 100%;
    height: 80px;
    font-size: 0; }
    #header .inner > h1 {
      top: 50%;
      transform: translate(-50%, -50%); }
    #header .inner .btnCall {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%); }
    #header .inner .util {
      top: 50%;
      left: 55px;
      transform: translateY(-50%); }
    #header .inner .menuWeb #gnb {
      display: none; }
    #header .inner .user {
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
    #header .inner .menuMo h1 a {
      margin-bottom: 10px; } }
@media screen and (max-width: 539px) {
  /*header----------------------------------*/
  #header .inner {
    width: 100%;
    height: 80px;
    font-size: 0; }
    #header .inner h1 a {
      font-size: 24px; }
    #header .inner .util {
      display: none; }
    #header .inner .menuWeb #gnb {
      display: none; }
    #header .inner .user {
      display: none; }
    #header .inner .menuMo > h1 a {
      font-size: 36px; }
    #header .inner .menuMo > h1 span {
      font-size: 12px; }
    #header .inner .menuMo #gnbMo > li a {
      font-size: 34px; }
    #header .inner .menuMo.on {
      top: 0;
      opacity: 1; } }

/*# sourceMappingURL=style.css.map */
