@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

fieldset {
  border: none; }

#header {
  width: 100%;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 5; }
  #header .inner {
    width: 1180px;
    height: 135px;
    margin: 0 auto;
    position: relative; }
    #header .inner > h1 {
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%); }
      #header .inner > h1 a {
        font: 26px/1 "Noto Sans", "Noto Sans KR";
        color: #111; }
    #header .inner .btnCall {
      width: 20px;
      height: 18px;
      position: absolute;
      top: 32px;
      left: 0;
      transition: 0.5s; }
      #header .inner .btnCall::before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 0;
        background: #555;
        transition: 0.5s; }
      #header .inner .btnCall::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #555;
        transition: 0.5s; }
      #header .inner .btnCall span {
        display: block;
        width: 100%;
        height: 2px;
        background: #555;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        text-indent: -9999px;
        transition: 0.5s; }
      #header .inner .btnCall.on {
        z-index: 11; }
        #header .inner .btnCall.on::before {
          background: #999;
          transform: rotate(45deg);
          top: 50%;
          margin-top: -1px; }
        #header .inner .btnCall.on::after {
          transform: rotate(-45deg);
          bottom: 50%;
          margin-bottom: -1px;
          background: #999; }
        #header .inner .btnCall.on span {
          background: #999;
          transform: translateX(100%);
          opacity: 0; }
    #header .inner .util {
      position: absolute;
      top: 31px;
      left: 31px; }
      #header .inner .util a {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px; }
        #header .inner .util a img {
          width: 100%;
          height: 100%; }
    #header .inner .menuWeb {
      width: 100%; }
      #header .inner .menuWeb #gnb {
        width: 100%;
        font-size: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ddd; }
        #header .inner .menuWeb #gnb::after {
          content: '';
          display: block;
          clear: both; }
        #header .inner .menuWeb #gnb > li {
          width: 20%;
          height: 60px;
          float: left;
          font-size: 0;
          transition: 0.5s; }
          #header .inner .menuWeb #gnb > li > a {
            display: block;
            width: 100%;
            height: 100%;
            font: 14px/60px "Noto Sans", "Noto Sans KR";
            color: #555;
            text-align: center;
            transition: 0.5s; }
            #header .inner .menuWeb #gnb > li > a:hover {
              color: #000; }
    #header .inner .user {
      position: absolute;
      right: 0;
      top: 35px; }
      #header .inner .user a {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-left: 5px; }
        #header .inner .user a img {
          width: 100%;
          height: 100%; }

#visual {
  width: 100%;
  height: calc(100vh - 136px);
  position: relative;
  background: #fff; }
  #visual .inner {
    width: 1180px;
    height: 100%;
    position: relative;
    padding: 70px 0;
    margin: 0 auto; }
    #visual .inner #slider {
      width: 100%;
      height: 100%;
      overflow: hidden; }
      #visual .inner #slider ul {
        width: calc(100% * 3);
        height: 100%;
        margin-left: -100%; }
        #visual .inner #slider ul::after {
          content: '';
          display: block;
          clear: both; }
        #visual .inner #slider ul li {
          width: calc(100% / 3);
          height: 100%;
          float: left; }
          #visual .inner #slider ul li article {
            float: left; }
            #visual .inner #slider ul li article:first-child {
              width: 55%;
              margin-right: 2%; }
            #visual .inner #slider ul li article:last-child {
              width: 43%; }
          #visual .inner #slider ul li .mainTxt.on h1 {
            opacity: 1;
            transform: translateY(0px); }
          #visual .inner #slider ul li .mainTxt.on h2 {
            opacity: 1;
            transform: translateY(0px); }
          #visual .inner #slider ul li .mainTxt h1 {
            font: 90px/1 "Roboto";
            color: #111;
            opacity: 0;
            transform: translateY(50px);
            transition: 0.8s; }
          #visual .inner #slider ul li .mainTxt h2 {
            font: 90px/1 "Roboto";
            color: #111;
            opacity: 0;
            margin-bottom: 20px;
            transform: translateX(50px);
            transition: 0.8s 0.2s; }
          #visual .inner #slider ul li .mainTxt > p {
            position: relative;
            font: 24px/1 "Roboto";
            color: #333;
            margin-left: 60px; }
            #visual .inner #slider ul li .mainTxt > p::before {
              content: '';
              display: block;
              width: 40px;
              height: 1px;
              background: #999;
              position: absolute;
              top: 50%;
              left: -60px; }
          #visual .inner #slider ul li .mainTxt .wrap {
            width: 100%;
            margin-top: 60px;
            position: relative; }
            #visual .inner #slider ul li .mainTxt .wrap::after {
              content: '';
              display: block;
              clear: both; }
            #visual .inner #slider ul li .mainTxt .wrap .left {
              width: 58%;
              margin-right: 2%;
              float: left;
              padding-top: 270px; }
              #visual .inner #slider ul li .mainTxt .wrap .left .txt {
                width: 100%;
                margin-bottom: 20px; }
                #visual .inner #slider ul li .mainTxt .wrap .left .txt p {
                  font: 14px/1 "Roboto";
                  color: #555; }
                #visual .inner #slider ul li .mainTxt .wrap .left .txt span {
                  font: 12px/1 "Noto Sans", "Noto Sans KR";
                  color: #999; }
            #visual .inner #slider ul li .mainTxt .wrap .right {
              width: 40%;
              float: left;
              margin-top: 40px;
              border-left: 1px solid #ddd;
              padding: 0 20px;
              transition: 0.5; }
              #visual .inner #slider ul li .mainTxt .wrap .right .pic {
                width: 100%;
                height: 0px;
                margin-bottom: 20px;
                margin-top: 50px; }
                #visual .inner #slider ul li .mainTxt .wrap .right .pic img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover; }
              #visual .inner #slider ul li .mainTxt .wrap .right h4 {
                font: 700 16px/1 "Noto Sans", "Noto Sans KR";
                color: #333;
                margin-bottom: 10px;
                opacity: 0;
                transform: translateX(80px);
                transition: 1s; }
              #visual .inner #slider ul li .mainTxt .wrap .right p {
                font: 14px/1.5 "Noto Sans", "Noto Sans KR";
                color: #666;
                opacity: 0;
                transform: translateX(80px);
                transition: 1s; }
              #visual .inner #slider ul li .mainTxt .wrap .right.on h4 {
                opacity: 1;
                transform: translateX(0px); }
              #visual .inner #slider ul li .mainTxt .wrap .right.on p {
                opacity: 1;
                transform: translateX(0px); }
          #visual .inner #slider ul li .mainVisual {
            width: 100%;
            height: 100%; }
            #visual .inner #slider ul li .mainVisual .pic {
              width: 100%;
              height: 0%;
              margin-top: 100px; }
              #visual .inner #slider ul li .mainVisual .pic img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
    #visual .inner .prev {
      display: block;
      width: 20px;
      height: 20px;
      float: left;
      transition: 0.5s;
      position: relative;
      left: 0px;
      bottom: 30px; }
      #visual .inner .prev::before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: center center;
        transform: rotate(-180deg);
        transition: 0.5s; }
      #visual .inner .prev span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: 0.5s;
        font: 12px/1 "Noto Sans", "Noto Sans KR";
        color: #666; }
      #visual .inner .prev::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        position: absolute;
        top: 100%;
        left: 0;
        transform-origin: center center;
        transform: rotate(180deg);
        transition: 0.5s; }
      #visual .inner .prev:hover {
        border: none; }
        #visual .inner .prev:hover::before {
          top: 50%;
          transform-origin: left center;
          transform: rotate(-30deg); }
        #visual .inner .prev:hover span {
          opacity: 0;
          transform: translate(-100%, -50%); }
        #visual .inner .prev:hover::after {
          top: 50%;
          transform-origin: left center;
          transform: rotate(30deg); }
    #visual .inner .next {
      display: block;
      width: 20px;
      height: 20px;
      transition: 0.5s;
      float: left;
      position: relative;
      left: 65px;
      bottom: 30px; }
      #visual .inner .next::before {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        transform-origin: center center;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(180deg);
        transition: 0.5s; }
      #visual .inner .next span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
        transition: 0.5s;
        font: 12px/1 "Noto Sans", "Noto Sans KR";
        color: #666; }
      #visual .inner .next::after {
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background: #333;
        position: absolute;
        top: 100%;
        left: 0;
        transform-origin: center center;
        transform: rotate(-180deg);
        transition: 0.5s; }
      #visual .inner .next:hover {
        border: none; }
        #visual .inner .next:hover::before {
          top: 50%;
          transform-origin: right center;
          transform: rotate(30deg); }
        #visual .inner .next:hover span {
          opacity: 0;
          transform: translate(100%, -50%); }
        #visual .inner .next:hover::after {
          top: 50%;
          transform: rotate(-30deg);
          transform-origin: right center; }

/*# sourceMappingURL=style.css.map */
